<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>Macrophallus</string>
		<key>definition</key>
		<string>abnormal largeness of the penis</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Anal Fissures</string>
		<key>definition</key>
		<string>A tear in the lining of the lower rectum that causes pain during bowel movements</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Micropenis</string>
		<key>definition</key>
		<string>A penis that is 2.5 standard deviations smaller than the average penis. A penis less than 2.5 inches long when erect</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Play the Skin Flute</string>
		<key>definition</key>
		<string>The act of performing fellatio on a man</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Suck a Dick</string>
		<key>definition</key>
		<string>The act of performing fellatio on a man</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Blowjob</string>
		<key>definition</key>
		<string>The act of performing fellatio on a man</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Hump</string>
		<key>definition</key>
		<string>The act of thrusting during sexual intercourse</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Coney Island Whitefish</string>
		<key>definition</key>
		<string>A euphamism for a used condom that has washed up on the beach. Particularly near Coney Island, NewYork</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Throwing a Hot Dog Down a Hallway</string>
		<key>definition</key>
		<string>A euphamism to describe the act of having intercourse with a woman who&apos;s vaginal tightness it less than desirable</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Glory Hole</string>
		<key>definition</key>
		<string>A hole in a wall where one individual places their penis through the hole while an anonymous partner on the other side of the wall performs fellatio</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Aww Skeet Skeet Skeet</string>
		<key>definition</key>
		<string>A lyric from the Lil&apos; Jon song Get Low, referring to ejaculation</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Eating Ass</string>
		<key>definition</key>
		<string>The act of inserting one&apos;s their partner&apos;s anus for sexual pleasure</string>
		<key>type</key>
		<string>charade</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Tossing Salad</string>
		<key>definition</key>
		<string>The act of inserting one&apos;s their partner&apos;s anus for sexual pleasure</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Dirty Sanchez</string>
		<key>definition</key>
		<string>An act performed during sexual intercourse where an individual insert&apos;s their finger into their partner&apos;s anus, then wipe&apos;s it across their partner&apos;s upper lip leaving a fecal mustache</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Raw Dog</string>
		<key>definition</key>
		<string>The act of having unprotected sexual intercourse</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Donkey Punch</string>
		<key>definition</key>
		<string>The sexual act performed while engaging in anal ntercourse from behind where, moments before ejaculating, he strikes his partner in the rear of the head to cause the anal cavity to tighten and increase sexual pleasure</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Beef Curtains</string>
		<key>definition</key>
		<string>The appearance of vaginal lips after intercourse</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Felching</string>
		<key>definition</key>
		<string>The act of ejactulating into another individual&apos;s anus, then consuming the ejaculat from said anus.</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Dutch Oven</string>
		<key>definition</key>
		<string>The act of emitting gas from the anus under a blanket and then pulling the blanket over another individual&apos;s head, forcing them to smell the gas</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Eiffel Tower</string>
		<key>definition</key>
		<string>An act of sexual intercourse where a woman bends over and simultaneously is entered from behind while she give a blowjob to a man in front of her adn then men high five over her resembling the Eiffel Tower</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Golden Shower</string>
		<key>definition</key>
		<string>The act of urinating onto another individual. Often for sexual pleasure</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Orgy</string>
		<key>definition</key>
		<string>a wild party, especially one involving excessive drinking and unrestrained sexual activity.</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Threesome</string>
		<key>definition</key>
		<string>The act of engaging in sexual intercourse with three individuals</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>The Shocker</string>
		<key>definition</key>
		<string>The act of inserting the pointer and middle finger into a woman&apos;s vagina while simultaneously inserting a pinky into her anus. </string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Blumpkin</string>
		<key>definition</key>
		<string>The acted of receiving fellatio while defecating on a toilet</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Cleveland Steamer</string>
		<key>definition</key>
		<string>The act of defecating on one&apos;s chest, then sitting in it and rocking to-and-fro in a steamroller motion</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Butter Face</string>
		<key>definition</key>
		<string>A woman with a beautiful body &quot;but her face&quot; is less than attractive</string>
		<key>type</key>
		<string>charades</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Bat Wing</string>
		<key>definition</key>
		<string>Stretching one&apos;s testicular skin to a flat, veiny surface, reminicent of a bat&apos;s wing.</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Arabian Goggles</string>
		<key>definition</key>
		<string>The act of placing one&apos;s testicles over the eyes of a victim</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Cum Dumpster</string>
		<key>definition</key>
		<string>A woman who has many casual sexual partners. synonym: promiscuous woman</string>
		<key>type</key>
		<string>explain</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Whiskey Dick</string>
		<key>definition</key>
		<string>Inability of a man to maintain an erection sufficient for satisfying sexual activity while inebriated</string>
		<key>type</key>
		<string>explain</string>
	</dict>
</array>
</plist>
